@import "../../styles/variables";

.container {
    padding: 20px;
    text-align: center;
    background-color: #f4f4f4;
    min-height: 100vh;

    h1 {
        color: $color-primary;
        margin-bottom: 20px;
    }

    p {
        color: darken($color-primary, 20%);
    }
}

.locationContainer {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 20px;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}