@import "../../styles/variables";

.container {
    padding: 20px;
    text-align: center;
    background-color: #f4f4f4;
    min-height: 100vh;

    h1 {
        color: $color-primary;
        margin-bottom: 5px;
    }

    p {
        color: darken($color-primary, 20%);
    }
}

.currentDayContainer {
    margin: 30px;
}

.fiveDayContainer {
    max-width: 100%; 
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 20px;
    padding: 20px;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        gap: 10px;
    }
}