@import "../styles/variables";

.container {
    padding: 20px;
    text-align: center;
}

.forecastContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.day {
    flex: 0 1 18%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 10px;
    border-radius: 8px;

    h2 {
        color: $color-secondary;
    }

    p {
        margin: 5px 0;
    }
}