@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: $font-size-base;
    scroll-behavior: smooth;
}

body {
    color: $color-neutral-dark;
    background-color: $color-neutral-light;
    line-height: 1.6;
}

h1 {
    font-size: 2.5rem;
    color: $color-primary;
}

h3 {
    font-size: 1.5rem;
    color: $color-primary;
}

h4 {
    font-size: 1.3rem;
    color: $color-neutral-light;
}

h6 {
    font-weight: normal;
    margin-bottom: $space-md;
}

p {
    font-size: 10pt;
}

a {
    color: $color-primary;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: darken($color-primary, 10%);
    }
}

button {
    background-color: $color-primary;
    border: none;
    padding: $space-sm $space-md;
    color: $color-neutral-light;
    border-radius: $space-xs;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
    height: 48px;

    &:focus {
        outline: none;
        border-color: $color-secondary;
        box-shadow: 0 0 0 3px rgba($color-secondary, 0.5);
    }

    &:hover {
        background-color: darken($color-primary, 10%);
    }
}

.mt-1 {
    margin-top: $space-xs;
}

.mb-1 {
    margin-bottom: $space-xs;
}