$color-primary: #2E4A7D;
$color-secondary: #ACCBE1;
$color-tertiary: #5C80BC;
$color-danger: #FF6767;
$color-neutral-dark: #333333;
$color-neutral-light: #F4F4F4;

$font-size-base: 16px;

$space-xs: 4px;
$space-sm: 8px;
$space-md: 16px;
$space-lg: 24px;
$space-xl: 32px;