@import "../styles/variables";

.main {
    padding: 20px;
    text-align: center;
}

.searchForm {
    max-width: 500px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: $space-sm;
}

.formControl,
.formButton {
    padding: 12px 16px;
    width: 100%;
    border: 2px solid $color-primary;
    border-radius: 4px;
    margin-bottom: 10px;
    height: 48px;

    &:focus {
        outline: none;
        border-color: $color-secondary;
        box-shadow: 0 0 0 3px rgba($color-secondary, 0.5);
    }
}

.formButton {
    background-color: $color-secondary;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;

    &:hover {
        background-color: darken($color-secondary, 10%);
        transform: scale(1.05);
    }
}