@import "@/styles/variables.scss";

.dayForecast {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    }

    h3 {
        color: $color-secondary;
    }

    p {
        margin: 5px 0;
        font-size: 0.9rem;
        color: lighten($color-secondary, 20%);
    }
}

@media (min-width: 769px) {
    .dayForecast {
        grid-column: span 1;
    }
}